@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@font-face {
    font-family: sanspro;
    src: url('../assets/fonts/Bakilda-Histori-Font/bakilda-histori.ttf'),
   
   
};
/* url('../assets/fonts/font/ValueSansPro-Black.eot'), */
/* @font-face {
    font-family:bakilda;
    src: url('../assets/fonts/Bakilda-Histori-Font/bakilda-histori.ttf') ;
}; */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
    @font-face {
      font-family: sanspro;
      font-weight: 400;
      src: url(../assets/fonts/font/ValueSansPro-Black.eot) format("eot");
    }
    @font-face {
      font-family: baklida;
      font-weight: 500;
      src: url(../assets/fonts/Bakilda-Histori-Font/bakilda-histori.ttf) format("ttf");
    }
  } */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sanspro;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
/* .banner-heading1{
    font-family: "Lemon", serif; 
}
.banner-heading2{
    font-family: sanpro; 
    font-size: 40px;
} */





