@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@font-face {
    font-family: sanspro;
    src: url('../assets/fonts/Value Sans Pro/ValueSansPro-Black.ttf'),
   
   
};
/* url('../assets/fonts/font/ValueSansPro-Black.eot'), */
@font-face {
    font-family:bakilda;
    src: url('../assets/fonts/Bakilda/bakilda-histori.ttf') ;
};
@font-face {
    font-family:lemonada;
    src: url('../assets/fonts/Lemonada/Lemonada-VariableFont_wght.ttf') ;
};
@font-face {
    font-family:abril;
    src: url('../assets/fonts/Abril/Abril_Display_Black.otf') ;
};


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Value Sans Pro;

}
body{
    overflow-x: hidden;
}



.overlay {
    height: 320px;
    border-radius: 5px;
    border: 3px solid gray;
    cursor: pointer;
  }
  
  .overlay:hover .content {
    opacity: 1;
    visibility: visible;
  }
  
  .content {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    border-radius: 5px;
    color: white;
    background-color: black;
    width: 100%;
    padding: 10px; 
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s;
  }

  



.container:hover .overlay{
    opacity: 1;
  visibility: visible;
  width: 100%;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, -6px) !important;
    top: var(--swiper-pagination-top, auto);
    left: 0;
    width: 100%;
}

.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: #86371C !important;
    padding: 5px !important;
}





